In [170]:
import pandas as pd
citi = pd.read_csv("agoda.csv")

In [99]:
citi.tail()

,#,ADR_USD,hotel_id,city_id,star_rating,accommadation_type_name,chain_hotel,booking_date,checkin_date,checkout_date,Days to checkin,Duration of Stay,Total Revenue
49059,4816,345.09,21720,8584,5.0,Resort,non-chain,12/31/2016,12/31/2016,1/3/2017,0,3,1035.26
49060,4817,303.52,21720,8584,5.0,Resort,non-chain,12/31/2016,12/31/2016,1/1/2017,0,1,303.52
49061,"13,264",148.98,461164,9395,4.0,Hotel,chain,11/13/2016,11/12/2016,11/13/2016,-1,1,148.98
49062,"1,300",74.30,1667520,8584,3.0,Hotel,non-chain,10/15/2016,10/14/2016,10/15/2016,-1,1,74.30
49063,"2,006",28.52,3198626,8584,0.0,Guest House / Bed & Breakfast,non-chain,10/30/2016,10/29/2016,10/30/2016,-1,1,28.52

In [171]:
citi.dtypes

#                           object
ADR_USD                    float64
hotel_id                     int64
city_id                      int64
star_rating                float64
accommadation_type_name     object
chain_hotel                 object
booking_date                object
checkin_date                object
checkout_date               object
Days to checkin              int64
Duration of Stay             int64
Total Revenue              float64
dtype: object

In [94]:
pd.to_numeric(citi["Total Revenue"])

ValueError: Unable to parse string " 1,031.04 " at position 115

In [88]:
citi.describe()

            ADR_USD   star_rating  Days to checkin  Duration of Stay
count  49064.000000  49064.000000     49064.000000      49064.000000
mean     148.089103      3.328887        14.529472          1.676280
std      135.338549      0.994740        15.680648          0.772219
min        4.260000      0.000000        -1.000000          1.000000
25%       62.555000      3.000000         2.000000          1.000000
50%      113.660000      3.500000         8.000000          1.000000
75%      192.220000      4.000000        23.000000          2.000000
max     3156.860000      5.000000        60.000000          3.000000

In [101]:
from sklearn import linear_model

In [108]:
dum=pd.get_dummies(citi, columns=["accommadation_type_name", "chain_hotel"], prefix=["accomodation", "chain_hotel"], dummy_na="TRUE")

In [172]:
dum=pd.get_dummies(citi, columns=["accommadation_type_name", "chain_hotel"])

In [ ]:
citi["city_id"] = np.where(citi["city_id"] == 9395, "City A", citi["city_id"] == 17193)

In [173]:
merge = pd.concat([citi,dum], axis = 1)

merge.head()

In [174]:
merge.head()

,#,ADR_USD,hotel_id,city_id,star_rating,accommadation_type_name,chain_hotel,booking_date,checkin_date,checkout_date,...,accommadation_type_name_Love Hotel,accommadation_type_name_Motel,accommadation_type_name_Private Villa,accommadation_type_name_Resort,accommadation_type_name_Resort Villa,accommadation_type_name_Ryokan,accommadation_type_name_Serviced Apartment,accommadation_type_name_Villa,chain_hotel_chain,chain_hotel_non-chain
0,1,71.06,297388,9395,2.5,Hotel,non-chain,8/2/2016,10/1/2016,10/2/2016,...,0,0,0,0,0,0,0,0,0,1
1,2,76.56,298322,9395,3.0,Hotel,non-chain,8/2/2016,10/1/2016,10/2/2016,...,0,0,0,0,0,0,0,0,0,1
2,3,153.88,2313076,9395,5.0,Hotel,chain,8/2/2016,10/1/2016,10/2/2016,...,0,0,0,0,0,0,0,0,1,0
3,6,81.60,331350,9395,3.0,Hotel,non-chain,8/4/2016,10/3/2016,10/5/2016,...,0,0,0,0,0,0,0,0,0,1
4,7,77.16,782884,9395,3.0,Hotel,chain,8/4/2016,10/3/2016,10/4/2016,...,0,0,0,0,0,0,0,0,1,0

In [56]:
merge.describe()

,star_rating,Days to checkin,Duration of Stay,star_rating,Days to checkin,Duration of Stay,accomodation_Apartment,accomodation_Bungalow,accomodation_Capsule Hotel,accomodation_Guest House / Bed & Breakfast,...,accomodation_Love Hotel,accomodation_Motel,accomodation_Private Villa,accomodation_Resort,accomodation_Resort Villa,accomodation_Ryokan,accomodation_Serviced Apartment,accomodation_Villa,chain_hotel_chain,chain_hotel_non-chain
count,49064.000000,49064.000000,49064.000000,5.000000,5.000000,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.000000,5.000000
mean,3.328887,14.529472,1.676280,3.500000,59.600000,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.200000,0.800000
std,0.994740,15.680648,0.772219,0.935414,0.547723,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.447214,0.447214
min,0.000000,-1.000000,1.000000,2.500000,59.000000,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
25%,3.000000,2.000000,1.000000,3.000000,59.000000,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000
50%,3.500000,8.000000,1.000000,3.500000,60.000000,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000
75%,4.000000,23.000000,2.000000,3.500000,60.000000,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000
max,5.000000,60.000000,3.000000,5.000000,60.000000,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1.000000

In [175]:
merge = merge.loc[:,~merge.columns.duplicated()].copy()

In [176]:
merge.head()

,#,ADR_USD,hotel_id,city_id,star_rating,accommadation_type_name,chain_hotel,booking_date,checkin_date,checkout_date,...,accommadation_type_name_Love Hotel,accommadation_type_name_Motel,accommadation_type_name_Private Villa,accommadation_type_name_Resort,accommadation_type_name_Resort Villa,accommadation_type_name_Ryokan,accommadation_type_name_Serviced Apartment,accommadation_type_name_Villa,chain_hotel_chain,chain_hotel_non-chain
0,1,71.06,297388,9395,2.5,Hotel,non-chain,8/2/2016,10/1/2016,10/2/2016,...,0,0,0,0,0,0,0,0,0,1
1,2,76.56,298322,9395,3.0,Hotel,non-chain,8/2/2016,10/1/2016,10/2/2016,...,0,0,0,0,0,0,0,0,0,1
2,3,153.88,2313076,9395,5.0,Hotel,chain,8/2/2016,10/1/2016,10/2/2016,...,0,0,0,0,0,0,0,0,1,0
3,6,81.60,331350,9395,3.0,Hotel,non-chain,8/4/2016,10/3/2016,10/5/2016,...,0,0,0,0,0,0,0,0,0,1
4,7,77.16,782884,9395,3.0,Hotel,chain,8/4/2016,10/3/2016,10/4/2016,...,0,0,0,0,0,0,0,0,1,0

In [177]:
x = merge.drop(["ADR_USD"], axis = 1)

In [178]:
y = merge["ADR_USD"]

In [179]:
final = merge.drop(["#","hotel_id", "city_id", "accommadation_type_name","chain_hotel", "booking_date", "checkin_date", "checkout_date"], axis = "columns")

In [121]:
final.tail()

,ADR_USD,star_rating,Days to checkin,Duration of Stay,Total Revenue,accommadation_type_name_Apartment,accommadation_type_name_Bungalow,accommadation_type_name_Capsule Hotel,accommadation_type_name_Guest House / Bed & Breakfast,accommadation_type_name_Holiday Park / Caravan Park,...,accommadation_type_name_Love Hotel,accommadation_type_name_Motel,accommadation_type_name_Private Villa,accommadation_type_name_Resort,accommadation_type_name_Resort Villa,accommadation_type_name_Ryokan,accommadation_type_name_Serviced Apartment,accommadation_type_name_Villa,chain_hotel_chain,chain_hotel_non-chain
49059,345.09,5.0,0,3,1035.26,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
49060,303.52,5.0,0,1,303.52,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
49061,148.98,4.0,-1,1,148.98,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
49062,74.30,3.0,-1,1,74.30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49063,28.52,0.0,-1,1,28.52,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [122]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [123]:
model = LinearRegression().fit(x, y)

ValueError: could not convert string to float: '1,046'

In [124]:
finaltrain, finaltest, ytrain, ytest = train_test_split(final,y, test_size = 0.20, random_state = 0)

In [125]:
finaltrain.head()

,ADR_USD,star_rating,Days to checkin,Duration of Stay,Total Revenue,accommadation_type_name_Apartment,accommadation_type_name_Bungalow,accommadation_type_name_Capsule Hotel,accommadation_type_name_Guest House / Bed & Breakfast,accommadation_type_name_Holiday Park / Caravan Park,...,accommadation_type_name_Love Hotel,accommadation_type_name_Motel,accommadation_type_name_Private Villa,accommadation_type_name_Resort,accommadation_type_name_Resort Villa,accommadation_type_name_Ryokan,accommadation_type_name_Serviced Apartment,accommadation_type_name_Villa,chain_hotel_chain,chain_hotel_non-chain
8516,56.52,3.5,30,1,56.52,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
37145,358.08,3.0,2,1,358.08,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39312,66.96,3.5,1,2,133.92,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7375,51.90,3.5,33,1,51.90,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9973,60.52,2.5,27,3,181.56,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [135]:
finaltrain

,ADR_USD,star_rating,Days to checkin,Duration of Stay,Total Revenue,accommadation_type_name_Apartment,accommadation_type_name_Bungalow,accommadation_type_name_Capsule Hotel,accommadation_type_name_Guest House / Bed & Breakfast,accommadation_type_name_Holiday Park / Caravan Park,...,accommadation_type_name_Love Hotel,accommadation_type_name_Motel,accommadation_type_name_Private Villa,accommadation_type_name_Resort,accommadation_type_name_Resort Villa,accommadation_type_name_Ryokan,accommadation_type_name_Serviced Apartment,accommadation_type_name_Villa,chain_hotel_chain,chain_hotel_non-chain
8516,56.52,3.5,30,1,56.52,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
37145,358.08,3.0,2,1,358.08,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39312,66.96,3.5,1,2,133.92,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7375,51.90,3.5,33,1,51.90,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9973,60.52,2.5,27,3,181.56,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21243,42.98,3.5,11,2,85.96,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
45891,83.56,3.5,0,1,83.56,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
42613,283.93,4.0,1,3,851.78,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
43567,44.32,3.5,0,2,88.64,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2732,126.69,4.0,48,2,253.38,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [136]:
finaltrain.dtypes

ADR_USD                                                  float64
star_rating                                              float64
Days to checkin                                            int64
Duration of Stay                                           int64
Total Revenue                                            float64
accommadation_type_name_Apartment                          uint8
accommadation_type_name_Bungalow                           uint8
accommadation_type_name_Capsule Hotel                      uint8
accommadation_type_name_Guest House / Bed & Breakfast      uint8
accommadation_type_name_Holiday Park / Caravan Park        uint8
accommadation_type_name_Home                               uint8
accommadation_type_name_Hostel                             uint8
accommadation_type_name_Hotel                              uint8
accommadation_type_name_Love Hotel                         uint8
accommadation_type_name_Motel                              uint8
accommadation_type_name_Private Villa                      uint8
accommadation_type_name_Resort                             uint8
accommadation_type_name_Resort Villa                       uint8
accommadation_type_name_Ryokan                             uint8
accommadation_type_name_Serviced Apartment                 uint8
accommadation_type_name_Villa                              uint8
chain_hotel_chain                                          uint8
chain_hotel_non-chain                                      uint8
dtype: object

In [126]:
obj = LinearRegression()

In [133]:
obj.fit(finaltrain, ytrain)

LinearRegression()

In [137]:
reg = LinearRegression().fit(finaltrain, ytrain)

In [142]:
r_sq = reg.score(finaltrain, ytrain)

In [143]:
print(r_sq)

1.0

In [148]:
#To retrieve the intercept:
print(reg.intercept_)

#For retrieving the slope:
print(reg.coef_)

0.0
[ 1.00000000e+00  1.98039506e-15  3.18126744e-16  1.61181607e-14
 -2.02508466e-16 -2.80140435e-14  1.60274968e-15  2.98316845e-15
  1.53454575e-15  8.05095641e-16  4.26254406e-15  2.33067063e-15
  1.38184678e-15  2.52162980e-15 -1.09570349e-15 -4.39770968e-16
  1.47648236e-15  1.71706698e-15  1.89931468e-15  1.32707118e-15
  5.70669432e-15 -2.58199098e-17  2.52904858e-17]

In [160]:
x = smf.add_constant(x)

AttributeError: module 'statsmodels.formula.api' has no attribute 'add_constant'

In [165]:
import numpy as np

In [180]:
np.asarray(x)

array([['1', 297388, 9395, ..., 0, 0, 1],
       ['2', 298322, 9395, ..., 0, 0, 1],
       ['3', 2313076, 9395, ..., 0, 1, 0],
       ...,
       ['13,264', 461164, 9395, ..., 0, 1, 0],
       ['1,300', 1667520, 8584, ..., 0, 0, 1],
       ['2,006', 3198626, 8584, ..., 0, 0, 1]], dtype=object)

In [181]:
model = sm.OLS(y, x).fit()
predictions = model.predict(x) 
 
print_model = model.summary()
print(print_model)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

In [162]:
import statsmodels.api as sm

In [186]:
import pandas as pd
import statsmodels.formula.api as smf

model = smf.ols('ADR_USD ~ star_rating', data = final)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                ADR_USD   R-squared:                       0.129
Model:                            OLS   Adj. R-squared:                  0.129
Method:                 Least Squares   F-statistic:                     7263.
Date:                Sat, 31 Dec 2022   Prob (F-statistic):               0.00
Time:                        22:10:38   Log-Likelihood:            -3.0703e+05
No. Observations:               49064   AIC:                         6.141e+05
Df Residuals:                   49062   BIC:                         6.141e+05
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     -14.5510      1.992     -7.306      0.000     -18.455     -10.647
star_rating    48.8572      0.573     85.225      0.000      47.734      49.981
==============================================================================
Omnibus:                    48908.450   Durbin-Watson:                   1.258
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5184477.131
Skew:                           4.693   Prob(JB):                         0.00
Kurtosis:                      52.477   Cond. No.                         13.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [86]:
import numpy as np
x =citi["ADR_USD"]
y = citi["Days to checkin"]

# to return the upper three quartiles
pearsons_coefficient = np.corrcoef(x, y)
print("The pearson's coeffient of the x and y inputs are: \n" ,pearsons_coefficient)

The pearson's coeffient of the x and y inputs are:
 [[1.       0.112928]
 [0.112928 1.      ]]

In [78]:
type(citi["ADR_USD"])

pandas.core.series.Series

In [82]:
citi.loc[(pd.to_numeric(citi['ADR_USD']))]

ValueError: Unable to parse string " 1,099.69 " at position 4083